<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div id="container">
        <div id="logo">
            Find out your zodiac sign!
        </div>
        <div id="description">
            In Western astrology, and formerly astronomy, the zodiac is divided into the following twelve signs: 
            Aries, Taurus, Gemini, Cancer, Leo, Virgo, Libra, Scorpio, Sagittarius, Capricorn, Aquarius, and Pisces. 
            Each occupies 30° of celestial longitude and roughly correspond to the astronomical constellations with the same name.
            These astrological signs form a celestial coordinate system, or more specifically an ecliptic coordinate system, 
            which takes the ecliptic as the origin of latitude and the Sun's position at vernal equinox as the origin of longitude.
        </div>
        <div id="enter">
            Enter your date of birth in the box below and we will tell everything about you!
        </div>
        <div style="height: 15px;"></div>
        <form method="post" action="/">
            <input id="date" type="text" name="date" required />
            <button id="buttondate" type="submit">Find out</button>
        </form>
        <div style="height: 15px;"></div>
        <div id="sign">&#9810 &#9811 &#9800 &#9801 &#9802
             &#9803 &#9804 &#9805 &#9806 &#9807 &#9808
             &#9809</div>
    </div>
    <script src="/app.js"></script>
</body>
</html>