<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9811 You're Aries! &#9811</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="ar.jpg"/></div>
		<div id="descriptionR">
			Aries loves to be number one, so it's no surprise that these audacious rams are the first sign
			of the zodiac. Bold and ambitious, Aries dives headfirst into even the most challenging 
			situations (which is appropriate, since the body part associated with Aries is the head). 
			Like their fellow fire signs, Leo and Sagittarius, Aries is a passionate, motivated, 
			and confident leader who builds community with their cheerful disposition and relentless determination. 
			Uncomplicated and direct in their approach, they often get frustrated by exhaustive details 
			and unnecessary nuances. They like things quick and dirty, a temperament also reflected 
			in their sexual proclivities.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>