<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9810 You're Aquarius! &#9810</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="aqu.jpg"/></div>
		<div id="descriptionR">
			Air energy is all about the mind. Intellectual, curious, and deeply social, 
			the air signs (Gemini, Libra, and Aquarius) are passionate about interpersonal dynamics. 
			As the last air sign in the zodiac, however, Aquarius takes these concepts to 
			a whole other level. Aquarius is represented by the water bearer (hence the "aqua"), 
			the mystical healer who bestows water, or life, upon the land. Represented by the Star card in tarot, 
			Aquarius can be visualized as a larger-than-life, mythical being with one foot firmly planted 
			on the soil (representing a sense of being grounded) and one positioned in the water. 
			Aquarius is holding a vase, which pours new streams of inspiration to cultivate longevity, 
			healing, and hope. Here, it's important to remember that Aquarius is removed from this process — from this vantage, 
			we can see that Aquarius is positioned as an independent entity separate from the life-giving hydration it offers the cracked soil. 
			In this respect, Aquarius exposes its deep connection to community: Rooted in teamwork, collaboration, and the concept 
			of the "greater good," Aquarius is determined to make a powerful difference in the world.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>