<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9802 You're Gemini! &#9802</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="gem.jpg"/></div>
		<div id="descriptionR">
			Have you ever been so busy that you wished you could clone yourself 
			just to get everything done? That's the Gemini experience in a nutshell. 
			Appropriately symbolized by the celestial twins, this air sign was interested 
			in so many pursuits that it had to double itself. Because of Geminis' intrinsic 
			duality, they're often falsely misrepresented as two-faced. In reality, however, 
			Gemini rarely has a hidden agenda. Playful and intellectually curious, Gemini is 
			constantly juggling a variety of passions, hobbies, careers, and friend groups. 
			They are the social butterflies of the zodiac: These quick-witted twins can talk 
			to anyone about anything. Find them buzzing between happy hours, dinner parties, and dance floors.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>