<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9806 You're Libra! &#9806</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="lib.jpg"/></div>
		<div id="descriptionR">
			Libra is an air sign represented by the scales (interestingly, the only inanimate object of the zodiac), 
			an association that reflects Libra's fixation on balance and harmony. Libra is obsessed with symmetry 
			and strives to create equilibrium in all areas of life. These air signs are the aesthetes of the zodiac: 
			Ruled by Venus, the planet that governs love, beauty, and money, Libras adore high art, intellectualism, and connoisseurship.
			Suave Libras need to surround themselves with stunning objects and create environments that reflect their exquisite tastes. 
			Accordingly, these air signs make excellent designers, decorators, art critics, and stylists.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>