<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9805 You're Virgo! &#9805</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="vir.jpg"/></div>
		<div id="descriptionR">
			Virgo is an earth sign historically represented by the goddess of wheat and 
			agriculture, an association that speaks to Virgo's deep-rooted presence in the material world. 
			Virgos are logical, practical, and systematic in their approach to life. This earth sign is a perfectionist 
			at heart and isn't afraid to improve skills through diligent and consistent practice. Virgo rules 
			the digestive system, which makes these earth signs especially attuned to the ingredients that make up a whole — 
			in food and in everything else. They're hyper-aware of every detail.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>