<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9809 You're Capricorn! &#9809</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="cap.jpg"/></div>
		<div id="descriptionR">
			The last earth sign of the zodiac, Capricorns and their 
			unique spirits are powerful, to say the least. I've worked with 
			thousands of clients over my nearly-10 year-long career as a professional 
			astrologer, and I can confirm that there's something that makes 
			Capricorn extremely special. Perhaps it's their fearless ambition? 
			Their limitless resilience? Their ability to keep pushing forward, 
			even in the face of challenging adversity and painful strife? Or, 
			maybe it's their secret wild side that's very rarely depicted in standard 
			personality assessments, but that rumbles within the soul of every Capricorn: 
			Not everyone gets to see Capricorn ordering rounds of tequila, dancing on the table, 
			and staying out until the crack of dawn — but that rebellious, untamed spirit is a Capricorn asset. I mean, how else do you expect this zodiac sign to let loose and have fun?
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>