<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9807 You're Scorpio! &#9807</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="sco.jpg"/></div>
		<div id="descriptionR">
			Scorpio is one of the most misunderstood signs of the zodiac. 
			Because of its incredible passion and power, Scorpio is often mistaken for a fire sign. 
			In fact, Scorpio is a water sign that derives its strength from the psychic, emotional realm. 
			Like fellow water signs, Cancer and Pisces, Scorpio is extremely clairvoyant and intuitive.
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>