<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9801 You're Taurus! &#9801</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="tau.jpg"/></div>
		<div id="descriptionR">
			Taurus is an earth sign represented by the bull. Like their celestial spirit animal, 
			Taureans enjoy relaxing in serene, bucolic environments, surrounded by soft sounds, 
			soothing aromas, and succulent flavors. Taurus is ruled by Venus, the enchanting planet 
			that governs love, beauty, and money. Taurus's Venusian influence make this earth sign 
			the most sensual of the zodiac: These cosmic oxen are enchanted by any physical manifestation 
			of comfort and luxury. Pleasure is a necessity for epicurean Taureans and they feel most 
			content when pampered. (Taurus governs the neck, so neck caresses are especially irresistible to these bulls.)
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>