<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="utf-8" />
	<title>Zodiac signs</title>
	<meta name="description" content="Find out what Zodiac sing are and what can it say about your personality!"/>
	<meta name="keywords" content="zodiac, sign, personality"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
	<div id="container">
		<div id="logo2">&#9811 You're Pisces! &#9811</div>
		<div style="height: 15px;"></div>
		<div id="imageL"><img src="pis.jpg"/></div>
		<div id="descriptionR">
			Pisces, a water sign, is the last constellation of the zodiac. It's symbolized by two fish 
			swimming in opposite directions, representing the constant division of Pisces's attention 
			between fantasy and reality. As the final sign, Pisces has absorbed every lesson — the joys 
			and the pains, the hopes and the fears — learned by all of the other signs. This makes these 
			fish the most psychic, empathetic, and compassionate creatures of the astrological wheel. 
			With such immense sensitivity, Pisces can easily become swallowed by emotions and must remember 
			to stay grounded in the material realm (appropriately, Pisces rules the feet).
		</div>
		<div style="clear: both"></div>
		<div>Return to the main page</div>
	</div>
</body>
</html>